<!DOCTYPE HTML>
<html>
<head>
<title>BrewBuddy</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<link href="assets/css/style.css" rel="stylesheet" type="text/css" media="all">
<link href="assets/css/slider.css" rel="stylesheet" type="text/css" media="all">
<script src="assets/js/jquery.min.js" type="text/javascript"></script>
<script src="assets/js/slidermodernizr.custom.js"></script>
</head>
 <body>
   <!-- Background slider  -->
 	<div class="slider">
 	      <ul id="cbp-bislideshow" class="cbp-bislideshow">
					<li><img src="assets/images/1.jpg" alt="image01"/></li>
					<li><img src="assets/images/2.jpg" alt="image02"/></li>
					<li><img src="assets/images/3.jpg" alt="image03"/></li>
					<li><img src="assets/images/4.jpg" alt="image04"/></li>
					<li><img src="assets/images/5.jpg" alt="image05"/></li>
					<li><img src="assets/images/6.jpg" alt="image06"/></li>
				</ul>    
	   <script src="assets/js/jquery.imagesloaded.min.js"></script>
		<script src="assets/js/cbpBGSlideshow.min.js"></script>
		<script>
			$(function() {
				cbpBGSlideshow.init();
			});
		</script>
	 </div>
	 <!-- End Background slider -->
	    <div class="header_top">
		 	  <div class="wrap">	 			
				<div class="logo1">
					<a href="/index1"><img src="assets/images/beerbuddy1.gif" alt=""></a>
				</div>	
				<div class="social-icons">						
		                <ul>
		                    <li><a class="facebook" href="https://www.facebook.com/brewbuddyapp/" target="_blank"> </a></li>
		                    <li><a class="twitter" href="https://twitter.com/BrewBuddyApp" target="_blank"></a></li>
		                    
		                </ul>
		 		    </div>
			    	<div class="clear"></div>
			       </ul>	
			    </div>	 
 				<div class="clear"></div>		   
 	   		</div>
 	     </div>
	       <div class="wrap">
	        <div class="main">	        	
	        		<div class="section group">
				<div class="col_1_of_3 span_1_of_3">
					<h2><span>Welcome</span></h2>
					 <h2>To BrewBuddy</h2>
					 
					<p>Brew Buddy is an interactive site crafted for the beer enthusiast or average Joe looking for beer information or just simply a place to enjoy a good brew.

				    </p>
				</div>
				<div class="col_1_of_3 span_1_of_3">
					 <div class="menu_timmings">
					 	 <ul>
					 	 <li>
								<div class="txt1"><a href="/index1">Home</div>
								
							 </li>
					 	 	<li>
								<div class="txt1"><a href="/about">About</div>
								
							 </li>
							 <li>
								<div class="txt1"><a href="/virtualtaproom">Virtual Taproom</div>
								
							 </li>
							 <li>
								<div class="txt1"><a href="/find">Brew Locator</div>
								
							 </li>
							 <li>
								<div class="txt1"><a id="contact" href="/contact">Contact</a></div>
								
							 </li>
							 
					 	 </ul>
					 </div>
				</div>
				<div class="col_1_of_3 span_1_of_3">
					<h2><span>Brew Buddies</span></h2>
					  <div class="event-grid">
					  	<div class="event_img">
						  <img src="assets/images/paul.png" title="post1" alt="">
					    </div>
						<div class="event_desc">
						 <h4><span>Paul Thorman</span></h4>
						  <h4>Brew Buddy</h4>
						<p>Favorite Beer: Ballast Point Grapefuit Sculpin</p>
					    </div>
							<div class="clear"> </div>
					  </div>
					  <div class="event-grid">
					  	<div class="event_img">
						  <img src="assets/images/ryan.png" title="post1" alt="">
					    </div>
						<div class="event_desc">
						<h4><span>Ryan Howard</span></h4>
						  <h4>Brew Buddy</h4>
						<p>Favorite Beer: GrapeFruit Sculpin</p>
					    </div>
							<div class="clear"> </div>
					  </div>
					  <div class="event-grid">
					  	<div class="event_img">
						  <img src="assets/images/jesus.png" title="post1" alt="">
					    </div>

						<div class="event_desc">
							 <h4><span>Jesus Morquecho</span></h4>
						  <h4>Brew Buddy</h4>
						<p>Favorite Beer: Green Flash Passion Fruit Kicker</p>
					    </div>
							<div class="clear"> </div>
					    <div class="event-grid">
					  	<div class="event_img">
						  <img src="assets/images/parker.png" title="post1" alt="">
					    </div>
						<div class="event_desc">
							 <h4><span>Parker Barrett</span></h4>
						  <h4>Brew Buddy</h4>
						<p>Favorite Beer: Julius IPA </p>
					    </div>
							<div class="clear"> </div>
					  </div>
					 
				  </div>
			   </div>
	          </div>        
	        </div>
	          <div class="copy_right">
	        	<div class="wrap">
				 <p> &copy; Copyright 2018 Paul Thorman, Jesus Morquecho, Ryan Howard, Parker Barrett
		       </div>
		   </div>
      </body>
      <style>
      	#txt1{
      		font-color: white;
      	}
      </style>
 </html>

