<link rel="stylesheet" type="text/css" href="assets/css/login.css"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
<div class="mainDiv">

    <div class="mainOptionWin">
     <img src="assets/images/brewbuddy.png">
    {{!-- <img src="assets/images/brewbuddy.png"> --}}
   {{!--     <a href = "/"><img id="icon-logo" src="/assets/images/beerbuddy.gif" alt="Rooster Icon" style="width:75px"></a>
    </div> --}}
    <div class="resBtn">

   
    <h2>BrewBuddy</h2>

     <p>Sign-up or Login</p>
      {{!-- <div class="resBtnHolder"> --}}
        <!-- <a class="waves-effect waves-light btn-large red accent-1" id="resMBtn">button</a> -->
       {{!--  <button type="button" class="btn-large waves-effect  red darken-2" id="resMBtn"><a href="/reserve"> Make Reservation </a></button> --}}

     {{!-- </div> --}}
    </div>
    <div class="managerBtn">
     
      <a href = "/signup" class="waves-effect waves-light btn cadetblue lighten-2" id="btnSignUp"> Sign Up</a>
      <a href = "/login" class="waves-effect waves-light btn cadetblue lighten-2" id="btnSignIn"> Log In</a>

      
    </div>
  </div>
</div>


