<div class="mainHeader"></div>
  <div class="mainFooter">
    <div class="socialRef">
      <div class="footer-social-icons">
        <h4 class="socialText">Follow us on</h4>
        <ul class="social-icons">
            <li><a href="" class="social-icon"> <i class="fa fa-facebook"></i></a></li>
            <li><a href="" class="social-icon"> <i class="fa fa-twitter"></i></a></li>
            <li><a href="" class="social-icon"> <i class="fa fa-linkedin"></i></a></li>
            <li><a href="" class="social-icon"> <i class="fa fa-google-plus"></i></a></li>
        </ul>
      </div>
    </div>
  </div>